<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.labmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_syringe_text"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_syringe_text_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".activity.GlobalSettingsActivity" />
        <activity android:name=".activity.SuccessActivity" />
        <activity
                android:name=".activity.NoInternetConnectionActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.ResetPasswordActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.ConfirmationActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.SignupActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.LoginActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.MainPageActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.MedicalFilesActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.TestsResultOverviewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.AddMedicalFilesActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.AddTestResultActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>